body{
    font-family: 'Poppins', sans-serif;
}
.orange{
    color: orange;
}
.head{
    border-left: 5px solid red;
    padding:0px 17px;
}
.head h1{
    font-size: 50px;
}
.button_link{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,tomato);
    border-radius: 4px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}
.dflex{
    display: flex;
    margin-bottom: 4%;
    
}
.half-width p{
    margin-top: 6%;
    margin-bottom: 6%;
}

.half-width{
    width:50%;
    padding-left: 81px;
    padding-right: 20px;
    padding-top: 6%;
}

.half-width img{
    width: 70%;
}
.next{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.flex-container{
    display: flex;
    
}
.second-part-f{
    width: 23%;
    margin-left: 7%;
   
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: lightcyan;
    border-radius: 20px;
   

}
.second-part-s{
    width: 23%;
    margin-left: 2%;
   
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: sandybrown;
    border-radius: 20px;
}
    .second-part-t{
        width: 23%;
        margin-left: 2%;
        margin-right: 5%;
       
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: lightgreen;
        border-radius: 20px;
    }
.second-part-f img{
    width: 50%;
}
.second-part-s img{
    width: 50%;
}
.second-part-t img{
    width: 50%;
}
.half-width3-1{
    margin-left:2%;
        margin-right: 2%;
        width: 40%;
        margin-top: 2%;
       
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
       

}
.half-width3-2{
    margin-left:2%;
    margin-right: 2%;
    width: 60%;
    margin-top: 2%;
   
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
   


}
.half-width3-1 img{
    width: 100%;
}
.half-width3-2 h1{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0px;
}
.half-width3-2 p{
    margin-top:4%;
    margin-bottom: 6%;
}
.dream-big{
    background-image: url(shape-8.png);
    background-repeat: no-repeat;
    background-position: 0px 120px;
    background-size: 10% 40%;
    
}
.big-dream{
    background-image: url(shape-7.png);
    background-repeat: no-repeat;
    background-position:right bottom;
    background-size: 6% 36%;
    

}
.last{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;

}
.span{
    color: green;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
    